::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--p-primary-700);
  border-radius: 12px;
  border: 0.5px solid transparent;
  background-clip: padding-box;
}

@media (max-width: 640px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}
