@if (renderCollapsedMode()) {
  <portfolio-button icon="Search" [iconSize]="18" [outlined]="true" size="medium" ariaLabel="Buscar" styleClass="search-collapsed-btn" (onClick)="toggleMobile()" />
} @else {
  @if (!isMobile() || !mobileMode()) {
    <portfolio-input lucideIcon="Search" [iconSize]="18" iconPosition="left" [placeholder]="placeholder()" [formControl]="control()" [showErrorMessage]="false" autocomplete="off" [class]="inputClass()" class="w-full" (keyup)="onKeyup($event)" />
  } @else {
    <portfolio-button icon="Search" [iconSize]="18" [outlined]="true" size="medium" ariaLabel="Buscar" styleClass="search-collapsed-btn" (onClick)="toggleMobile()" />

    @if (showMobileInput()) {
      <div class="search-mobile-panel w-full" animate.enter="search-slide-in-out-enter" animate.leave="search-slide-in-out-leave">
        <div class="search-mobile-panel-inner">
          <portfolio-input lucideIcon="Search" [iconSize]="18" iconPosition="left" [placeholder]="placeholder()" [formControl]="control()" [showErrorMessage]="false" autocomplete="off" class="w-full" (keyup)="onKeyup($event)" />
        </div>
      </div>
    }
  }
}
